name: Python Postgres CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  setup-postgres:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: mandla
          POSTGRES_PASSWORD: secret123
          POSTGRES_DB: future_sales
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U mandla"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install psycopg2-binary

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432 -U mandla; do
            echo "Waiting for Postgres..."
            sleep 2
          done

      - name: Run Python script
        run: python src/main.py

